[data-custom-attribute="someValue"] {
  color: red;
}

[data-adjust-attribute="adjust-Value"] {
  color: green;
}

div {
  color: blue;
}

#A {
  color: red;
}

.B {
  color: green;
}

.divCSS .pCSS {
  background-color: yellow;
}