.container {
  height: 300px;
  border: 1px solid red;

  /*--- Use case display: block; Canh giữa theo chiều ngang ---*/
  /* text-align: center;  */

  /*--- Use case display: grid; Căn giữa theo cả chiều ngang và dọc ---*/
  /* display: grid;
  place-items: center; */

  /*--- Use case Sử dụng position và transform ---*/
  position: relative;
}

.container img {
  border: 1px solid green;

  /*--- Use case display: block; Canh giữa theo chiều ngang và dọc ---*/
  /* margin: auto;  */
  /* Để margin: auto hoạt động */
  /* display: block;  */

  /*--- Use case display: grid; không cần chỉnh gì thêm ---*/

  /*--- Use case Sử dụng position và transform ---*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  border: 1px solid blue;
  background-color: yellow;
}

span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  border: 1px solid blue;
  background-color: yellow;
}

span.c {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  border: 1px solid blue;
  background-color: yellow;
}
