.arr_proportions {
  margin: 8% 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #000;
  text-align: center;

  @media (min-width: 768px) {
    margin: 36px 0px;
    font-size: 14px;
  }

  .proportion_group {
    display: flex;
    padding: 40px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 64px;
    background: #fff;
    margin: 0px 18px;
  }

  .proportion_group_ulticut {
    display: flex;
    height: 642px;
    padding: 40px 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 64px;
    background: var(--neutral-white, #fff);

    .proportion_name_ulticut {
      color: var(--main-color-dark-brown, #927367);
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .proportion_ulticut_3d {
    width: 239px;
    height: 239px;
  }
}
